body {
	font-family: 'Lato', sans-serif;
}

.header {
	font-size: 100px
}

.generalContainer {
	padding: 7px;

}

.from {
	font-size: 14px;
	font-weight: 900;
}
.about {
	font-size: 14px;
}

.date {
	display: inline;
	float: right;
	color: gray;
	font-size: 14px;
}

.message {
	font-size: 12px;
	font-weight: 300;
}