body {
	font-family: 'Space Mono', monospace;
}

.header {font-size: 100px
}

.date {
	display: inline;
	float: right;
}

.generalContainer {
	padding: 7px;

}

.from {
	font-weight: bold;
}

.messsage {
}